{
  "extends": "react-app",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  }
}
