name: lint

# Actions for any push (PR) onto (into) to master

# -----------------
# Control variables (GitHub Secrets)
# -----------------
#
# At the GitHub 'organisation' or 'project' level you must have the following
# GitHub 'Repository Secrets' defined (i.e. via 'Settings -> Secrets'): -
#
# None
#
# -----------
# Environment (GitHub Environments)
# -----------
#
# Environment         (n/a)

on:
  push:


jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4.1.0
      with:
        version: 10.28.2
        run_install: false
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22.21.1
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - run: node -v
    - name: Lint
      run: pnpm lint .
  Type-Check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4.1.0
      with:
        version: 10.28.2
        run_install: false
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22.21.1
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - run: node -v
    - name: Type Check
      run: pnpm tsc
